{% extends 'base/base.html' %}

{% load humanize %}
{% load i18n %}
{% load static %}
{% load task %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'task/css/task.css' %}" />
{% endblock head %}
{% block additional_js %}
  <script type="text/javascript" src="{% static 'task/js/task.js' %}"></script>
{% endblock additional_js %}

{% block content %}
  <p>
    <a id="new_task_link" href="#">
      {% trans 'Create new task' %}
    </a>
  </p>

  {% if unscheduled_tasks %}
    <p>
      {% trans 'Some tasks are not fully scheduled yet!' %}
    </p>

    <ul>
      {% for task in unscheduled_tasks %}
        <li
            data-name="{{ task.name }}"
            data-taskid="{{ task.pk }}"
            data-unscheduled-duration="{{ task.unscheduled_duration.normalize|intcomma }}">
          {{ task.name }}
          ({{ task.unscheduled_duration.normalize|intcomma }}h)
          <a href="#" class="task-schedule">
            {% trans 'Schedule' %}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <table class="schedule table table-striped">
    <tr>
      {% for day in schedule_by_day %}
        <th{% if day.in_past %} class="past-day"{% elif day.is_today %} class="current-day"{% endif %}>
          {{ day.day|naturalday }}
          ({{ day.scheduled_duration.normalize|intcomma }}h/{{ day.max_duration.normalize|intcomma }}h)
        </th>
      {% endfor %}
    </tr>
    <tr>
      {% for day in schedule_by_day %}
        <td{% if day.in_past %} class="past-day"{% elif day.is_today %} class="current-day"{% endif %}>
          {% for execution in day.executions %}
            <span
                class="task-execution {% if execution.finished %}finished{% elif execution.overdue %}overdue{% endif %}"
                style="height: {{ execution.duration|multiply:4|to_str }}em;">
              <strong>{{ execution.task.name }}</strong>
              <span class="float-right">
                {{ execution.duration.normalize|intcomma }}h
                {% if execution.task.estimated_duration != execution.duration %}
                  ({{ execution.task.estimated_duration.normalize|intcomma }}h)
                {% endif %}
              </span>

              <br />
              <span class="float-left">
                {% if execution.finished %}
                  <a href="{% url 'task:finish_task_execution' execution.pk 'no' %}"
                     class="tooltip" data-tooltip="{% trans 'Not done' %}">
                    <span class="fa fa-undo"></span>
                  </a>
                {% else %}
                  <a href="{% url 'task:finish_task_execution' execution.pk 'yes' %}"
                     class="tooltip" data-tooltip="{% trans 'Undo' %}">
                    <span class="fa fa-check"></span>
                  </a>
                {% endif %}
                <a href="{% url 'task:delete_task_execution' execution.pk %}"
                   onclick="return confirm('{% trans 'Are you sure that you want to delete this task?' %}');"
                   class="tooltip" data-tooltip="{% trans 'No time needed on this day' %}">
                  <span class="fa fa-times"></span>
                </a>
                <a href="{% url 'task:postpone_task_execution' execution.pk %}"
                   class="tooltip" data-tooltip="{% trans 'Postpone to another day' %}">
                  <span class="fa fa-clock-o"></span>
                </a>
                <a href="{% url 'task:reserve_task_time' execution.task.pk 3600 %}"
                   class="tooltip" data-tooltip="{% trans 'Needs more time on another day' %}">
                  <span class="fa fa-files-o"></span>
                </a>
              </span>
              <span class="float-right">
                <a href="{% url 'task:move_task_execution' execution.pk 'up' %}"
                   class="tooltip{% if execution.finished %} invisible{% endif %}"
                   data-tooltip="{% trans 'Needs time earlier' %}">
                  <span class="fa fa-arrow-up"></span>
                </a>
                <a href="{% url 'task:move_task_execution' execution.pk 'down' %}"
                   class="tooltip{% if execution.finished %} invisible{% endif %}"
                   data-tooltip="{% trans 'Needs time later' %}">
                  <span class="fa fa-arrow-down"></span>
                </a>
                <a href="{% url 'task:change_task_execution_duration' execution.pk -1800 %}"
                   class="tooltip{% if execution.duration <= 0.5 %} invisible{% endif %}"
                   data-tooltip="{% trans 'Takes 30 less minutes' %}">
                  <span class="fa fa-minus"></span>
                </a>
                <a href="{% url 'task:change_task_execution_duration' execution.pk 1800 %}"
                   class="tooltip" data-tooltip="{% trans 'Takes 30 more minutes' %}">
                  <span class="fa fa-plus"></span>
                </a>
              </span>
            </span>
          {% endfor %}
        </td>
      {% endfor %}
    </tr>
  </table>

  {% include 'task/new_task.html' %}
  {% include 'task/schedule.html' %}
{% endblock content %}
