{% load i18n %}
{% load widget_tweaks %}

<div id="schedule" class="modal modal-sm">
  <div class="modal-overlay"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right modal-close"></button>
      <div class="modal-title h5">
        {% trans 'Schedule Task' %}
      </div>
    </div>
    <div class="modal-body">
      <div class="columns">
        <div class="column col-6">
          <strong>
            {% trans 'Task Name' %}
          </strong>
        </div>
        <div class="column col-6">
          <p id="schedule_data_name"></p>
        </div>
        <div class="column col-6">
          <strong>
            {% trans 'Unscheduled Duration' %}
          </strong>
        </div>
        <div class="column col-6">
          <p class="align-right">
            <span id="schedule_data_unscheduled_duration"></span>h
          </p>
        </div>
      </div>

      <form action="{% url 'task:schedule_task' %}" method="POST">
        <div class="content">
          {% csrf_token %}
          {% render_field schedule_form.task_id id='schedule_id' %}

          <div class="form-group">
            <label for="schedule_for" class="form-label">
              {{ schedule_form.schedule_for.label }}
            </label>
            {% render_field schedule_form.schedule_for id='schedule_for' class+='form-select' %}
            {% render_field schedule_form.schedule_for_date id='schedule_for_date' class+='form-input' placeholder=schedule_form.schedule_for_date.label %}
          </div>

          <div class="input-group">
            {% render_field schedule_form.duration id='schedule_duration' class+='form-input' class+='align-right' placeholder=schedule_form.duration.label %}
            <span class="input-group-addon">h</span>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="{% trans 'Schedule' %}" />
          <button type="reset" class="btn btn-link modal-close">
            {% trans 'Cancel' %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
