a:hover {
  cursor: pointer;
}

.schedule.columns {
  margin: 0;

  .column {
    vertical-align: top;

    margin: 0.4em 0;

    @media (min-width: 601px) and (min-height: 600px) {
      .body {
        height: 25em;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }

    &.past-day {
      background: #e3e3e3;
      opacity: 0.6;
    }

    &.current-day {
      background: #fffeaf;
    }

    &.overloaded-day {
      background: #ffa195 !important;
    }
  }

  div.header {
    background: #f4eff4;
  }

  div.header, div.footer {
    padding: 0.2em;
  }
}

span.task-execution {
  display: block;

  min-height: 3.5em;

  background: #d0f5ff;

  margin: 0.3em 0;
  padding: 0.2em;
}

span.task-execution.finished {
  background: #a4ffa0;
}

span.task-execution.overdue {
  background: #ffb0a4;
}

.invisible {
  visibility: hidden;
}

.align-right {
  text-align: right;
}
