{% load static %}{% load i18n %}<!doctype html>
<html>
  <head>
    <meta name="charset" content="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>TodoScheduler</title>

    <link rel="stylesheet" type="text/css" href="{% static 'base/css/spectre.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/font-awesome.min.css' %}" />

    {% block head %}{% endblock head %}
  </head>
  <body>
    <div class="container">
      {% for message in messages %}
        <div class="toast toast-{{ message.tags }}">{{ message }}</div>
      {% endfor %}

      {% block content %}{% endblock content %}
    </div>
    <div class="footer">
      <hr />
      <a href="https://github.com/wichmannpas/todoscheduler">
        TodoScheduler</a>
      is free software.
      &bull;
      <a href="{% url 'task:overview' %}">
        {% trans 'Home' %}</a>
      {% if USE_IMPRINT %}
        &bull;
        <a href="{% url 'base:imprint' %}">
          {% trans 'Imprint' %}</a>
      {% endif %}
    </div>

    <script type="text/javascript" src="{% static 'base/js/jquery.min.js' %}"></script>
    {% block additional_js %}{% endblock additional_js %}
  </body>
</html>
