{% load static %}{% load i18n %}<!doctype html>
<html>
  <head>
    <meta name="charset" content="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">

    <title>TodoScheduler</title>

    {% block css %}
      <link rel="stylesheet" href="{% static 'base/css/spectre.min.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'base/css/font-awesome.min.css' %}" type="text/css" />
    {% endblock css %}
    {% block head %}{% endblock head %}
  </head>
  <body>
    <div class="container">
      {% for message in messages %}
        <div class="toast toast-{{ message.tags }}">{{ message }}</div>
      {% endfor %}

      {% block content %}{% endblock content %}
    </div>
    <div class="footer">
      <hr />
      <a href="https://github.com/wichmannpas/todoscheduler">
        TodoScheduler</a>
      is free software.
      &bull;
      <a href="{% url 'client:index' %}">
        {% trans 'Home' %}</a>
      {% if USE_IMPRINT %}
        &bull;
        <a href="{% url 'base:imprint' %}">
          {% trans 'Imprint' %}</a>
      {% endif %}
    </div>
  </body>
</html>
