from .settings_base import *  # NOQA

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = []

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 's@60r((v#^=_d*(q09x6(oi!#bh3!9*iwet94m(s0$v$i#h1v)'


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'HOST': 'localhost',
        'NAME': 'todoscheduler',
        'USER': 'todoscheduler',
        'PASSWORD': 'todoscheduler',
    }
}

LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'Europe/Berlin'

# Email configuration
DEFAULT_FROM_EMAIL = 'TodoScheduler <noreply@todoscheduler>'
EMAIL_HOST = '127.0.0.1'
EMAIL_PORT = 25
# EMAIL_HOST_USER = 'foobar123'
# MAIL_HOST_PASSWORD = 'foobar123'
# EMAIL_USE_TLS = True
# EMAIL_USE_SSL = False

USE_IMPRINT = True
IMPRINT_ADDRESS = '''John Doe
Foostreet 42
12345 City
Foobarcountry'''
